

  <h1>From SF and comparing it to KC</h1>

Select a month to compare the weather of Kansas City to San Francisco:
<form action="/month">
<select name="month">
  <option value="jan">January</option>
  <option value="feb">February</option>
  <option value="mar">March</option>
  <option value="apr">April</option>
  <option value="may">May</option>
  <option value="jun">June</option>
  <option value="jul">July</option>
  <option value="aug">August</option>
  <option value="sept">September</option>
  <option value="oct">October</option>
  <option value="nov">November</option>
  <option value="dec">December</option>
</select>
<br><br>
<input type="submit">
</form>

<br><br>
<% if @array_of_closest_matching_months %>
  <p><%= @month %> in Kansas city is like <%= @array_of_closest_matching_months.join(', ') %> in San Francisco.</p>
  <% if @message %>
    <%= @message %>
  <% end %>

  <h3>Average Temperatures:</h3>
  Kansas city, <%= @month %>: <%= @kc_month_temp %>°<br>

  <% counter = 0 %>
  <% @array_of_closest_matching_months.each do |month| %>
    San Francisco, <%= month %>: <%= @array_of_closest_matching_temps[counter] %>° <br>
    <% counter += 1 %>
  <% end %>


<% end %>



